<p>
<%= _("Your email settings have not applied yet or are incorrect. Please contact %s support." % get_company_name ) %>
</p>

<p>
<%= alink_to _("Support"), :controller => 'support', :action => 'index' %>
</p>
